@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-default: #3ecf8e;
  --brand-accent: rgba(62, 207, 142, 0.7);
  --background-default: #1c1c1c;
  --color-default: #ededed;

  --colors-scale1: #bbbbbb;
  --colors-scale2: #2e2e2e;
  --colors-scale3: #3e3e3e;
  --colors-scale4: #ffffff;
  --colors-scale5: #343434;
  --colors-scale6: #505050;
  --colors-scale7: #232323;
  --colors-scale8: #282828;
  --colors-scale9: rgba(255, 255, 255, 0.03);
}

body {
  color: var(--color-default);
  background-color: var(--background-default);
  -webkit-font-smoothing: antialiased;
}

@layer base {
  h2 {
    @apply text-2xl md:text-3xl text-[var(--color-default)];
  }
  h3 {
    @apply text-xl sm:text-2xl text-[var(--color-default)];
  }
  p {
    @apply text-base sm:text-lg text-[var(--colors-scale1)];
  }

  button {
    @apply relative flex items-center justify-center gap-2 font-medium text-sm ease-out duration-200 outline-none transition-all bg-[var(--colors-scale2)] text-[var(--colors-scale4)] fill-[var(--colors-scale4)] border border-solid border-[var(--colors-scale3)] rounded-lg hover:bg-[var(--colors-scale5)] hover:border-[var(--colors-scale6)] py-2 px-4;
  }

  svg {
    @apply w-5 h-5;
  }
}
